*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.gridContainer{
    display: grid;
    grid-template-columns: 850px 425px 850px;
    grid-template-rows: 530px 530px;
}
.a{
    background-color: greenyellow;
}
.b{
    background-color: orange;
}
.c{
    background-color: orangered;
}
.d{
    background-color: red;
}
.e{
    background-color: blueviolet;
}
.f{
    background-color: yellow;
}