*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contenedorPadre{
    display: flex;
    flex-direction: column; 
    align-items: center; 
    width: 98.9vw;
    background-color: #fafafa;
}
/* Menú */
.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    border-bottom: 2px solid gray;
    width: 100%;
    padding-top: 0.2%;
    font-size: 150%;

}
.menu__buscar{
    background-color: #fafafa;
    padding-right: 5%;
    border-radius: 5%;
    cursor: pointer;

}
.menu__inicio--sesion{
    font-size: 100%;
    background-color: #0095f6;
    border: 2px solid #0095f6;
    color: white;
    cursor: pointer;
    border-radius: 5%;
}
.menu__inicio--registrate{
    font-size: 100%;
    background-color: white;
    color:#0095f6;
    border: 2px solid white;
    cursor: pointer;
}
/* Descripción */
.descripcion{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* gap: 5%; */
    width: 50%;
}
.descripcion__foto{
    display: flex;
    justify-content:center;
    align-items:flex-end;
    width: 50%;
    /* height: 300px; */
    cursor: pointer;
}
.descripcion__d{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.descripcion__d--nombre{
    display: flex;
    flex-direction: row;
    gap: 10%;

}
.nombre__codenotch{
    font-size: 150%;
    cursor: pointer;
}
.nombre__boton{
    font-size: 100%;
    background-color: #0095f6;
    border: 2px solid #0095f6;
    color: white;
    cursor: pointer;
    border-radius: 5%;
}
.descripcion__d--seguidores{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* gap:10%; */
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 120%;
    cursor: pointer;
}
span{
    font-weight: 900;
    
}
.descripcion__d--codenotch{
    font-weight: 900;
    font-size: 120%;

}
.descripcion__d--educacion{
    color: gray;
    font-size: 120%;
}
.descripcion__d--b{
    font-size: 120%;
}
.descripcion__d--linktr{
    font-size: 120%;
    color: #0031f6;
    font-weight: 600;
    cursor: pointer;
}
.story{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 4%;
    padding-right: 4%;
}
.stories{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.story__texto{
    cursor: pointer;
}
.publicado{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5%;
    width: 60%;
    padding: 0.5%;
}
.publi{
    cursor: pointer;
}
.linea{
    height: 2px;
    width: 45%;
    background-color: gray;
}
.fotos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 60%;
}
.fotos_feed{
    height: 30%;
    width: 30%;
    cursor: pointer;

}

@media screen and (max-width:1030px){
    .descripcion__d--seguidores{
        display:none
    }
    .descripcion{
        flex-direction: column;

    }
    .story{
        align-items: flex-start;
    }
}