*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color:white;
}
.padre{
    width: 100vw;
    
}


/* Menú */
.cabecera{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: black;
    font-size: 200%;
    font-weight: 900;
    padding-top: 1%;
    padding-bottom: 1%;
}
.cabecera__menu{
    border: 2px solid black;

}
.cabecera__menu:hover{
    border-bottom: 2px solid white;
    border-radius: 50%;

}
/* Footer */

.footer{
    display: flex;
    flex-direction: column;
    /* background-color: rgb(138, 132, 132); */
    background-color: rgb(176, 8, 8);
    font-size: 150%;
}

.footer__partes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.footer__informacion{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.footer__informacion--linea{
    background-color: white;
    height: 10%;
    width: 6px;
    border-radius: 50%;
}
.footer__texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:white;
    font-size: 100%;
}
.footer__linea{
    background-color: white;
    height: 100px;
    width: 6px;
    border-radius: 50%;
}
.footer__contacto{
    font-size: 100%;
    font-weight: 900;
    text-align: center;
    border-top: 5px solid white;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}
.footer__hablamos{
    transition: border-radius 1s;
}
.footer__hablamos:hover{
    border-bottom: 6px solid white;
    border-radius: 50%;
    transition: border-radius 1s;
}
.footer__menu:hover{
    border-bottom: 6px solid white;
    border-radius: 50%;

}